﻿@model IEnumerable<SistemaRestaurante.BusinessEntity.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="javascript:void(0);" id="linkMostrar">Crear nuevo pedido</a>
</p>

<div id="informacionPadre" style="display: none;"></div>

<table>
    <tr>
        <th>
            IdPedido
        </th>
        <th>
            Fecha
        </th>
        <th>
            TipoPedido
        </th>
        <th>
            Cliente
        </th>
        <th>
            Local
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<script type="text/javascript">

    $(function () {

        $('#informacionPadre').dialog({
            width: 'auto',
            resizable: false,
            modal: true,
            autoOpen: false
        });

        $('#linkMostrar').click(function (e) {
            var url = '@Url.Action("Create","PedidoAjax")';

            $.ajax({
                type: "GET",
                url: url,
                async: false,
                dataType: "html",
                success: function (resultado) {
                    $('#informacionPadre').html(resultado);
                    $('#informacionPadre').dialog('open');
                },
                error: function (request, status, error) {
                    
                    
                    alert(request.responseText);
                }
            });
        });
    });

</script>


