﻿@{
    ViewBag.Title = "ReporteLocales";
}

<h2>Reporte de Locales ingresados al Sistema</h2>


<input type="button" id="btnExportar" value="Descargar Reporte EXCEL"/>

<input type="button" id="btnExportarPDF" value="Descargar Reporte PDF"/>


<script type="text/javascript">

    $(document).ready(function() {

        $('#btnExportar').bind("click", function (e) {

            var url = '@Url.Action("ExportarLocales", "Reporte")' + '?formato=EXCEL';

            window.location.href = url;
        });


        $('#btnExportarPDF').bind("click", function (e) {

            var url = '@Url.Action("ExportarLocales", "Reporte")' + '?formato=PDF';

            window.location.href = url;
        });
    });


</script>