﻿@{
    ViewBag.Title = "ListadoJqGrid";
}

<script src="@Url.Content("~/Scripts/modernizr-1.7.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SR.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.jqGrid.src.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/grid.locale-es.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />

<div id="listado">
    <table id="tabla"></table>
    <div id="barra"></div>
</div>

<div id="informacion" style="padding: 10px; display: none;"></div>

<div id="infoDelete" style="display: none;">
</div>

<div id="dialog-delete" style="display: none;">
    Esta seguro de quitar el registro seleccionado?
</div>

<script type ="text/javascript">

    $(document).ready(function() {
       
        Listar();

        $('#infoDelete').dialog("destroy");
        $('#infoDelete').dialog({
            width: 'auto',
            resizable: false,
            modal: true,
            autoOpen: false,
            open: function (type, data) { $(this).parent().appendTo("form"); },
            close: function () { }

        });
    });

    function CrearDialogs() {
        var arrayDialog = [{ name: "dialog-alert", height: 100, width: 280, title: "Alerta"}];
        SR.CreateDialogs(arrayDialog);
    }
    
    function Listar() {

        var colNames = ['ID', 'Nombre', 'Descripción'];
        var colModels = [
                { name: 'IdCategoria', index: 'IdCategoria', align: 'center', width: 40},
                { name: 'Nombre', index: 'Nombre', align: 'center' },
                { name: 'Imagen', index: 'Imagen', align: 'center' }
        ];

        var opciones = { nuevo: true, editar: true, eliminar: true, search: true};
        SR.GrillaCompleta('tabla', 'barra', 'auto', 1150, 'Listado de Categorias', '@Url.Action("Listar", "CategoriaJq")', 'id', colNames, colModels, 'IdCategoria', opciones, Nuevo, Editar, Eliminar);

        $("#tabla").filterToolbar({ searchOnEnter: true, stringResult: true, defaultSearch: "cn" });
    }

    function Nuevo() {
        var url = '@Url.Action("Crear", "CategoriaJq")';
        SR.Operacion(url);
    }

    function Editar(rowkey) {

        var url = '@Url.Action("Modificar", "CategoriaJq")' + '/' + rowkey;
        SR.Operacion(url);
    }

    function Eliminar(rowkey) {
        
        var url = '@Url.Action("Eliminar", "CategoriaJq")';
        var parametros = { id: rowkey };
        var resultado = SR.Ajax(url, parametros, false);

        if (resultado.Success) {
            $('#tabla').trigger('reloadGrid');
        } else {
            $("#infoDelete").html(resultado.Message);
            $('#infoDelete').dialog("open");
        }

        $('#dialog-delete').dialog("close");
    }

</script>