﻿@{
    ViewBag.Title = "Grafico";
}

<h2>Grafico</h2>
<div id="tabs">
    <ul>
        <li><a href="#tabs-spline">Spline</a></li>
        <li><a href="#tabs-column">Column</a></li>
        <li><a href="#tabs-bar">Bar</a></li>
        <li><a href="#tabs-point">Point</a></li>
        <li><a href="#tabs-bubble">Bubble</a></li>
        <li><a href="#tabs-pie">Pie</a></li>
        <li><a href="#tabs-doughnut">Doughnut</a></li>
        <li><a href="#tabs-pyramid">Pyramid</a></li>
        <li><a href="#tabs-funnel">Funnel</a></li>
        <li><a href="#tabs-boxplot">Box Plot</a></li>
        <li><a href="#tabs-area">Area</a></li>
    </ul>
    <div id="tabs-spline">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Spline" })' alt="" />
        </p>
    </div>
    <div id="tabs-column">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Column" })' alt="" />
        </p>
    </div>
    <div id="tabs-bar">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Bar" })' alt="" />
        </p>
    </div>
    <div id="tabs-point">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Point" })' alt="" />
        </p>
    </div>
    <div id="tabs-bubble">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Bubble" })' alt="" />
        </p>
    </div>
    <div id="tabs-pie">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Pie" })' alt="" />
        </p>
    </div>
    <div id="tabs-doughnut">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Doughnut" })' alt="" />
        </p>
    </div>
    <div id="tabs-pyramid">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Pyramid" })' alt="" />
        </p>
    </div>
    <div id="tabs-funnel">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Funnel" })' alt="" />
        </p>
    </div>
    <div id="tabs-boxplot">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "BoxPlot" })' alt="" />
        </p>
    </div>
    <div id="tabs-area">
        <p>
            <img src='@Url.Action("CrearChart", "Grafico", new { type = "Area" })' alt="" />
        </p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabs').tabs();
    });
</script>